.ant-modal-close {
    display: none;
}

.ant-modal-content {
    width: 470px;
    height: 230px;
}

.ant-modal-body {
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 208px;
}
.ant-modal-footer {
    border-top: none;
    padding-right: 30px;
    padding-top: 46px;
}

.confirm-info {
    width: 270px;
    height: 80px;
    font-family: PingFangSC;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #565966;
}

.confirm-info > p {
    margin-bottom: 0;
}
.confirm-info > p > span {
    color: #4bbc8e;
}