#wrapperStyle {
    border: black 1px solid;
    width: 40%;
    margin: 0 auto
};

#infoStyle {
    border: green 1px solid;
    height: 40%;
    width: 90%;
    margin: auto
};

/* #infoStyle > span {
    border: 1px red solid;
    width: 20%;
    margin-left: 10%;
} */

/* 
#infoStyle span :nth-child(1) {
    color: red
} */

#statusStyle {
    border: blue 1px solid;
    height: 60%;
    width: 90%;
    margin: 0 auto
};